.grid {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px auto;
  width: fit-content;
}

.row {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid #3a3a3c;
}

.green {
  background-color: #538d4e;
  border-color: #538d4e;
}

.yellow {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.gray {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}
